@font-face {
  font-family: 'icomoon';
  src:  url('..//fonts/icomoon.eot?9h2qu1');
  src:  url('..//fonts/icomoon.eot?9h2qu1#iefix') format('embedded-opentype'),
    url('..//fonts/icomoon.ttf?9h2qu1') format('truetype'),
    url('..//fonts/icomoon.woff?9h2qu1') format('woff'),
    url('..//fonts/icomoon.svg?9h2qu1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-office:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-git:before {
  content: "\eae7";
}
